
<br/>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}, Here are the current items available to claim!
  </h1>
</div>
<p>Here's some text to try and break up the issue</p>
<table style="border:1px solid black">
  <thead>
    <tr>
        <th>Name</th>
        <th>Item Avaliable</th>
        <th>Number Available</th>
        <th>Available Action</th>

    </tr>
  </thead>
 <tbody>
      <tr *ngFor="let item of Items; let i = index">
          <td>{{item.Name}}</td>
          <td>{{item.Item_Name}}</td>
          <td>{{item.Item_Amount}}</td>
          <td><button (click)="onClaim(item._id)" >Claim</button></td>
      </tr>      
  </tbody>
</table>
