
<br/>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}, Here are the current items available to claim!
  </h1>
</div>
<p>Here's some text to try and break up the issue</p>
<table class="table">
  <thead>
    <tr>
        <th>Item</th>
      <th>Details</th>
      <th>Quantity</th>
      <th>Name</th>
      <th>Email</th>
      <th>Available Action</th>

    </tr>
  </thead>
 <tbody>
      <tr *ngFor="let offer of all_offers; let i = index">
        <td>{{offer.item_name}}</td>
        <td>{{offer.item_details}}</td>
        <td>{{offer.item_quantity}}</td>
        <td>{{offer.donor_name}}</td>
        <td>{{offer.donor_email}}</td>
        <td><button (click)="onClaim(offer._id)" >Claim</button></td>
      </tr>
  </tbody>
</table>
