<!--<input type="button" name="home" value="Home" class="btn" [routerLink]="['../home']" />-->

<div style="text-align:center">
  <h1>
    Create an offer to lend a hand
  </h1>
</div>
<br/>
<form (submit)="onSubmit()">
  <p>{{printedErrors[0]}}</p>
  <p>{{printedErrors[1]}}</p>
  <p>{{printedErrors[2]}}</p>
   <p>Name:<input type="text" minlength="3" name="newStuff.Name" [(ngModel)]="newStuff.Name" /></p>
   <p>Item:<input type="text" minlength="3" name="newStuff.Item_Name" [(ngModel)]="newStuff.Item_Name"  /></p>
   <p>Item Quantity:<input type="number" name="newStuff.Item_Amount" [(ngModel)]="newStuff.Item_Amount"  /></p>
   <p>Email:<input type="email" minlength="3" name="newStuff.Email" [(ngModel)]="newStuff.Email"  /></p>
   <p><input type="submit" value="Add stuff" /><button [routerLink]="['']">Cancel</button></p>
</form>
